.cartMain{
    position: fixed;
    right: 0;
    top: 4rem;
    height: 100vh;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}
.cartContainer{
    width: 20rem;
    max-height: 33rem;
    height: 100%;
    
    overflow-y: auto;
}
.cartInner{
    padding: 1rem;
}
.cartItems{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    
}
.cartItem{
    /* border: 1px solid red; */
    background-color: white;
    display: flex;
    text-align: left;
    padding: 1rem;
    grid-gap: 5px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.details{
    display: flex;
    flex-direction: column;
    grid-gap: 3px;
}
.cartItem > img{
    width: 7rem;
    height: 5rem;
    object-fit: cover;
}
.itemPrice{
    margin-top: 5px;
}
.productQty{
    display: flex;
    grid-gap: 12px;
    align-items: center;
}
.productQty>button{
    width: 2rem;
    height: 2rem;
    font: inherit;
    display: grid;
    place-items: center;
    font-size: 0.7rem;
    border-radius: 50%;
    background-color: rgb(214, 214, 214);
    border: none;
    cursor: pointer;
}
.totalContainer{
    border-top: 1px solid rgb(218, 218, 218);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}